.bio {
  &--item {
    &__about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      @include phone {
        width: 100%;
      }

      &__information--box {
        display: flex;
        width: 100%;
        margin-top: 4rem;
        align-items: center;
        justify-content: space-between;
        @include tablet {
          flex-direction: column;
        }
        @include phone {
          height: 85%;
        }
      }
      &__img--box {
        width: 20rem;
        height: 20rem;
        @include tablet {
          width: 30rem;
          height: 30rem;
        }
        display: grid;
        place-items: center;
        border: 0.8rem solid $red--light;
        border-radius: 8px;
      }
      &--img {
        width: 100%;
        height: 100%;
        border: 0.3rem solid #e0e6fb;
        border-radius: 8px;
      }
      &__bio {
        &--heading--box {
          width: 90%;
          display: flex;
          align-items: flex-start;
          position: relative;
          &::after {
            content: ' ';
            position: absolute;
            top: 2rem;
            left: 16rem;
            background-color: $red--light;
            width: 70%;
            height: 0.3rem;
          }
        }
        &--box {
          width: 80%;
          @include tablet {
            width: 100%;
            margin-top: 2rem;
          }
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      &__bio--information {
        display: flex;
        flex-direction: row;
        @include tablet {
          flex-direction: column;
          align-items: baseline;
          width: 80%;
        }
        width: 100%;
        align-items: center;
        justify-content: space-around;
        &--item {
          display: flex;
          flex-direction: row;
          & > p:nth-child(1) {
            color: #222;
            font-size: 1.5rem;
            font-weight: 700;
          }
          & > p:nth-child(2) {
            margin-left: 2rem;
            color: $red--light;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
        &--box {
          display: flex;
          flex-direction: column;
          height: 15rem;
          align-items: flex-start;
          justify-content: space-around;
        }
      }
    }
  }
}
